<meta charset="utf-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style"
      content="black-translucent">
<!-- Chrome, Firefox OS and Opera Status Bar Color -->
<meta name="theme-color" content="#FFFFFF">
<link href="https://api.fontshare.com/v2/css?f[]=gambetta@1,2&display=swap"
      rel="stylesheet">
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css">
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism.min.css">
<link rel="stylesheet" type="text/css"
      href="css/SourceSansPro.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com"
      crossorigin>
<link
      href="https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap"
      rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/theme.css">
<link rel="stylesheet" type="text/css"
      href="css/notablog.css">
<!-- Favicon -->
<% if (favicon) { %>
  <link rel="shortcut icon" href="<%= favicon %>">
  <% } %>
    <style>
    </style>