<nav class="Navbar">
  <a href="index.html">
    <div class="Navbar__Btn">
      <% if (siteMeta.iconUrl) { %>
        <!-- <span><img class="inline-img-icon"
               src="<%= siteMeta.iconUrl %>"></span>&nbsp; -->
        <% } %>
          <span>Hunaid Khorakiwala</span>
    </div>
  </a>

  <!-- Mobile menu button -->
  <button class="Navbar__MobileToggle" aria-label="Toggle navigation menu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <!-- Navigation items container -->
  <div class="Navbar__Items">
    <% siteMeta.pages.forEach(function(page) { %>
      <% if (page.publish && page.inMenu) { %>
        <a href="<%= page.url %>">
          <div class="Navbar__Btn">
            <% if (page.iconUrl) { %>
              <span><img class="inline-img-icon" src="<%= page.iconUrl %>"></span>&nbsp;
              <% } %>
                <span>
                  <% if (page.title==='Jameela Ki Yadey - Remembering Jameela' ) { %>
                    Jameela
                    <% } else if (page.title==='Poetry by Hunaid' ) { %>
                      Poetry
                      <% } else if (page.title==='Madeh By Hunaid' ) { %>
                        Madeh
                        <% } else if (page.title==='Archival Gallery' ) { %>
                          Gallery
                          <% } else if (page.title==='My Prophet Mohammed' ) { %>
                            Prophet
                            <% } else { %>
                              <%= page.title %>
                                <% } %>
                </span>
          </div>
        </a>
        <% } %>
          <% }) %>
  </div>
</nav>